<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/formulario3/"    method="POST" >{% csrf_token %}
        <p> nombre: <input type = "text" name="vehiculo">
        <p> fecha limite: <input type = "text" name="modelo">
        <p> fecha llegada: <input type = "text" name="modelo">
        <input type = "submit" value="Enviar">
     </form>  
</body>
</html>